.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: start;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.container > * {
  min-width: 0;
  width: 100%;
}

.fullRow {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: minmax(0, 1fr);
  }
}
